ion-item {

    --padding-start: 10px;
    --inner-padding-end: 10px;

    ion-thumbnail {
        height: 100%;
        margin-inline-end: 10px;
    }

    h1 {
        font-weight: bold;
        font-size: 0.8 rem;
    }

    p {
        font-size: 0.6 rem;
    }

    p + p {
        font-size: 0.6 rem;
        color: #a9a9a9;
    }

    ion-chip {
        padding-inline: 3px;
    }
}

