<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title color="dark">
      Revisão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ks8rCjVBG7clohwHVu0TIpEB4Q.jpg" />
      </ion-thumbnail>
      <ion-label>
        <div class="ion-text-wrap">
          <h1> Transformers: O lado Oculto da Lua </h1>
          <p>29/06/2011 (BR)</p>
          <p>Ação, Ficção científica, Aventura</p>
        </div>
      </ion-label>
      <ion-chip outline>
        <ion-label>61%</ion-label>
      </ion-chip>      
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option> 
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    
    </ion-item-sliding>
    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/j15lZasREutscon6e61LSSNJoN7.jpg" />
        </ion-thumbnail>
        <ion-label>
          <div class="ion-text-wrap">
            <h1> Piratas do Caribe: No Fim do Mundo </h1>
            <p>25/05/2007 (BR)</p>
            <p>Aventura, Fantasia, Ação</p>
          </div>
        </ion-label>
        <ion-chip outline>
          <ion-label>72%</ion-label>
        </ion-chip>      
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option> 
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      </ion-item-sliding>
  </ion-list>

</ion-content>
