<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title> Sobre o desenvolvedor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="ion-text-center">
    <img src="https://avatars.githubusercontent.com/u/61015146?v=4" alt="" />
    <h1>Fernando Leme</h1>
    <p>Estudante na Etec Cidade do Livro, Lençóis Paulista.</p>
    <a href="mailto:fernando.silva824@etec.sp.gov.br">fernando.silva824@etec.sp.gov.br</a>
    <ion-button color="warning" expand="block" href="https://github.com/fernandoleme14">
      <ion-icon name="logo-github"></ion-icon>
    </ion-button>
  </div>
</ion-content>
